.container {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searchContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonContainer {
    margin-left: 20px;
}